body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Lobster";
  src: url("./fonts/Lobster-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Lobster-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("./fonts/Montserrat-Bold.ttf");
  font-weight: 700;

}

@font-face {
  font-family: "Montserrat-Bold-Italic";
  src: url("./fonts/Montserrat-BoldItalic.ttf");
  font-weight: 700;

}

@font-face {
  font-family: "Montserrat-Black";
  src: url("./fonts/Montserrat-Black.ttf");
  font-weight: 900;

}

@font-face {
  font-family: "Montserrat-Black-Italic";
  src: url("./fonts/Montserrat-BlackItalic.ttf");
  font-weight: 900;

}


